body {
  background-color: #D1F1F0; /* Cambia este valor por el color que desees */
}
.image-zoom {
    overflow: hidden;
  }
  
  .image-zoom img {
    transition: transform 0.3s ease;
  }
  
  .image-zoom img:hover {
    transform: scale(1.1);
  }